body{
	max-width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	/*background-color: black;*/
	background-image: url("images/bg.jpg");
	background-repeat: inherit;
}
#container{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 0;
	position: fixed;
	bottom: 0%;
	width: 100%;
	height: 20%;
	z-index: 200;
	pointer-events: none;

}
h1{
	text-align: center;
/*	text-shadow: 0px 0px 5px #024f93 ;
*/	    -webkit-text-shadow: 0px 0px 0px 10px #024f93;
    -moz-text-shadow: 0px 0px 0px 10px #024f93;
    text-shadow: 0px 0px 0px 10px #024f93;
	font-size: 50px;
	color: white;
	text-rendering: optimizeLegibility;
	
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
	margin: 0;
	font-family: 'Source Serif Pro', serif;
	-webkit-font-smoothing: antialiased;
	z-index: 200;
	transition: 0.5s all;
}
#images{
	top: 100%;
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
	justify-content: center;
	max-width: 100%;
	height: auto;
	align-items: center;
	width: 100%;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	position: relative;
	float: top;
	transition: 0.5s all;
}
img{

/*	max-height: 450px;
*/	width: 750px;
margin-top: 12%;
/*	margin: auto;
	margin: 20px;*/
	position: relative;
	float: top;
	box-shadow: 0px 0px 0px pink;
	transition: 0.5s all; 

}
#videosList {

  overflow: hidden;
}

.video {
/*  background-image: url('images/Screen Shot 2017-06-16 at 3.34.21 PM.png');
*/  /*background-size: 700px 530px;*/
  height: auto;
  width: 600px;
  position: relative;
  float: top;
  left:50%;
  margin-top: 10%;
  margin-left: -376px; 
/*  margin-bottom: 50px;
*/}


/* Hide Play button + controls on iOS */
video::-webkit-media-controls {
    display:none !important;
}
#frame{
	position: fixed;
	z-index: 300;
	pointer-events: none;
	/*border: 50px solid black;*/
	width: 100%;
	height: 100%;
	top: 0%;
    -webkit-box-shadow:inset 0px 0px 0px 30px white;
    -moz-box-shadow:inset 0px 0px 0px 30px white;
    box-shadow:inset 0px 0px 0px 30px white;

}
.info{
	font-size: 20px;
	width: 100%;
	text-align: center;
	top: 0%;
	position: fixed;

	font-style: italic;
	color: #024f93;
	font-family: 'Source Serif Pro', serif;
	z-index: 400;
	margin-top: 4px;
}
